/* Adjust the container of the try-on section to position its children relatively */
.try-on-section {
    position: relative;
}

#camera-container {
    display: none;
    width: 300px;
    height: 300px;
    position:sticky; /* Changed from fixed to absolute for relative positioning within try-on section */
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* This positions it to the right within the try-on section */
    background-color: white;
    z-index: 1000;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#camera-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}