@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    font-size: 62.5%;
    --primaryFont: 'DM Sans', sans-serif;
    --charSpace: 6px;
    --primaryColor: #3e4152;
    --secondaryColor: #fafbfc;
}

body {
    font-family: var(--primaryFont);
    scroll-behavior: smooth;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

#logo img {
    height: 60px;
}

#navbar {
    display: flex;
    list-style-type: none;
}

#navbar li {
    margin: 0 10px;
}

#navbar a {
    text-decoration: none;
    color: var(--primaryColor);
    font-weight: bold;
}

#search {
    display: flex;
    align-items: center;
}

#search_bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search_icon {
    margin-left: 10px;
    color: #ccc;
}

#right_icon {
    display: flex;
    align-items: center;
}

#right_icon div {
    margin: 0 10px;
    text-align: center;
}

#toggle .bx {
    font-size: 3.5rem;
}
