@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    font-size: 62.5%;
    --primaryFont: 'DM Sans', sans-serif;
    --charSpace: 6px;
    --primaryColor: #3e4152;
    --secondaryColor: #fafbfc;
}

body {
    font-family: var(--primaryFont);
    scroll-behavior: smooth;
}

#navbar {
    display: flex;
    list-style-type: none;
}

#navbar li {
    margin: 0 10px;
}

#navbar a {
    text-decoration: none;
    color: var(--primaryColor);
    font-weight: bold;
}
